html {
  scroll-behavior: smooth;
}
body,
.why {
  font-family: "Karla", sans-serif;
}
h1,
h2,
h4 {
  font-family: "Work Sans", sans-serif;
}
iframe {
  margin-bottom: 3.5rem;
}
.services-image {
  max-width: 20%;
  height: auto;
  display: block;
}
.footer {
  font-family: "Segoe UI", sans-serif;
  background-color: #153e5c;
  color: white;
  margin: #153e5c;
}
dt {
  font-weight: 500;
}
#footer-joiners-heading {
  font-weight: 800;
}
.footer-joiners > dl > dt {
  font-weight: 100;
}
#why {
  font-weight: 900;
}
.btn,
#nav-button {
  background-color: #153e5c;
  color: white;
  border: 1px solid #707070;
  border-radius: 0;
  position: relative;
}
.btn:hover,
#nav-button:hover {
  background-color: #fff;
  color: #153e5c;
  border: 2px solid #153e5c;
}
.btn:active,
#nav-button:active {
  background-color: #153e5c;
  color: #fff;
  box-shadow: 0 1px 3px hsla(0, 0%, 0.2);
}
.card-body > h3 {
  background-color: #153e5c;
  color: white;
  border-radius: 0;
}
.nav-link,
.home,
.why-join,
.services,
.call-to-action,
.works {
  color: #153e5c;
}
.card-texts {
  box-shadow: 0px 6px 20px #0000001f;
  border: none;
}

.works {
  background-color: #e1f3fc59;
}
.navbar {
  border-bottom: 1px solid #f1eded;
}

@media (max-width: 900px) {
  .call-to-action .container {
    width: 100% !important;
  }
  .navbar .nav-item {
    display: block;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .why-image {
    display: none;
  }
  .why-top {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  .footer {
    padding: 0 !important;
  }

  .footer-social {
    margin-left: 0 !important;
  }
  .footer-small {
    margin-top: 0 !important;
  }
  .card-row {
    padding-top: 10px !important;
  }
  #footer {
    margin-right: 0px;
  }
  .card-box {
    padding-bottom: 10px !important;
  }
}

@media (max-width: 800px) {
  .why-head {
    padding-left: 36px !important;
    padding-right: 36px !important;
  }
  .why-image {
    display: none;
  }
  .why-top {
    margin-top: 0 !important;
    padding-top: 0 !important;
    padding-right: 48px !important;
  }
  .works {
    padding-right: 24px !important;
  }
  .home-content {
    padding-left: 26px !important;
    padding-right: 26px !important;
  }
  #why {
    margin-left: 10px;
    padding-left: 10px;
  }
  #home-container {
    margin-left: 26px;
    margin-right: 26px;
  }
  #how {
    padding-left: 26px !important;
  }
  #img-join {
    padding-right: 48px;
  }
  #img-main {
    padding-right: 48px !important;
  }
  .card-row {
    padding-bottom: 10px !important;
  }
  #spec-box {
    padding-top: 0px !important;
  }
}
